
.navbar {
  background-color: rgba(0, 17, 43, 1);
  width: 100%;
  border-radius: 0px;
  padding-left: 20px;
}

.instructions h1 {
    font-size: 40px;
    font-weight: 700;
    padding-left: 20px;

}

.instructions {
    background-color: #000816;
    padding: 10px;
    color: #ece7e7;
    width:100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
